// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Roboto', sans-serif;


$primary-color: #132a57;
$secondary-color: #ff7300;
$strong-color: #2d2d2d;
$highlight-color-1:#545454;
$highlight-color-2: #ffefe3;
$highlight-color-3: #f2f2f2;
$light-color: #d1cad2;


