// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@mixin color-default($color) {
    $color: $color;
}
@mixin color-strong($color) {
    $color: $color;
}
.lpColor{
    &--blue{
        @include color-default($blueColor);
        @include color-strong($blueColorStrong)
        
    }
    

} 
    

.duxElement-image-banner{
    position: relative;
    img{
        width: 100%;
    }
}
.sup-itens-banner{
    position: absolute;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
}
.sup-text{
    .banner-title-default{
        @include setColor ($blueColorStrong );
        .banner-title-strog{
            @include setColor ($blueColorStrong);
        }
    }
}


.roww .coll {
    height: 100px;
    background: green;
}