// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.banner{
    .carrousel{
        .item-carrousel{
            position: relative;
            
            img{
                width: 100%;
                filter: sepia(0.3);
            }
        }
        .desc-carrousel{
            position: absolute;
            top: 25%;
            color: #fff;
            padding: 30px;
            display: flex;
            flex-direction: column;
            left: 50%;


            .title-carrousel{
                font-weight: bold;
                font-size: 4rem;
                line-height: 1;
                text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.3);
            }
            .sub-title-carousel{
                text-align: center;
                font-weight: normal;
                line-height: 1;
                font-size: 3rem;
            }
            span{
                font-size: 1.2rem;
                width: 85%;
                text-align: center;
                // font-weight: bold;
            }
        }
    }
    
    .bloco-empresa{
        @include background-opacity($primary-color, 0.3);
        height: 200px;
        display: flex;
        align-items: flex-end;

        .desc-empresa{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .text-empresa{
                text-align: center;
                h2{
                    font-weight: bold;
                    font-size: 2.5rem;
                    color: #000;
                }
                p{
                    color: $highlight-color-1;
                    font-size: 1.6rem;
                    font-weight: 100;
                }
            }

            .icone-empresa{
                margin: 0 30px;
                img{
                    max-width: 100%;
                    width: 75px;
                }
            }

        }
    }

}